{% extends "base.html" %}
{% block title %}Users{% endblock %}
{%block content%}

{% include "includes/__messages__.html" %}
<div class="container-fluid">
    <!-- <div class="card" style="border-radius:1rem;"> -->
    <br>
    <div class="row">
        <div class="col sm-4">
            <strong>
                <p>Listes des utilisateurs
                </p>
            </strong>
        </div>
        <div class="col sm-4">
            <form action="{{url_for('users')}}" method="post">
                <div class="input-group">
                    <input type="search" name="search" class="form-control rounded" placeholder="Search"
                        aria-label="Search" aria-describedby="search-addon" />
                    <button type="submit" class="btn btn-outline-primary"><i class="fas fa-search"></i></button>
                </div>
            </form>
        </div>
        <div class="col sm-4">
            <button class="btn btn-primary btn-sm float-right" data-toggle="modal" data-target="#myModal"><i
                    class="fas fa-user"> Ajouter utilisateur</i></button>
        </div>
    </div><br>


    <!-- <p>Listes des utilisateurs <button class="btn btn-primary float-right" data-toggle="modal"
            data-target="#myModal">Add users</button>
    </p><br> -->
    <!-- Enter New Student Modal -->
    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <h5 class="modal-title text-primary" style="align-content: center;">Ajouter un utilisateur</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="{{ url_for('registre')}}" method="POST">
                        <div class="form-group">
                            <!-- <label>Prenom</label> -->
                            <input type="text" name="prenom" class="form-control" id="exampleFormControlInput1"
                                placeholder="Entrer votre prenom">
                        </div>
                        <div class="form-group">
                            <!-- <label>Nom</label> -->
                            <input type="text" name="nom" class="form-control" id="exampleFormControlInput1"
                                placeholder="Entrer votre nom">
                        </div>
                        <div class="form-group">
                            <!-- <label>Telephone</label> -->
                            <input name="telephone" type="telephone" class="form-control" id="exampleFormControlInput1"
                                placeholder="Entrer votre  telephone">
                        </div>

                        <div class="form-group">
                            <!-- <label>Adresse</label> -->
                            <input name="Adresse" type="text" class="form-control" id="exampleFormControlInput1"
                                placeholder="Entrer votre Adresse">
                        </div>
                        <div class="form-group">
                            <!-- <label>Email</label> -->
                            <input name="email" type="text" class="form-control" id="exampleFormControlInput1"
                                placeholder="Entrer votre email">
                        </div>
                        <div class="form-group">
                            <!-- <label>Password</label> -->
                            <input name="password" type="password" class="form-control" id="exampleFormControlInput1"
                                placeholder="Entrer votre password">
                        </div>
                        <button type="submit" class="btn btn-primary mb-2">Save</button>

                    </form>


                </div>
            </div>
        </div>

    </div>


    <!-- End of Enter New Student Modal -->
    <table id="dtBasicExample" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th class="th-sm">prenom</th>
                <th class="th-sm">nom</th>
                <th class="th-sm">Telephone</th>
                <th class="th-sm">Adresse</th>
                <th class="th-sm">email</th>
                <th class="th-sm">Action</th>
            </tr>
        </thead>
        <tbody>
            {% for row in users %}
            <tr>
                <td>{{row.prenom}}</td>
                <td>{{row.nom}}</td>
                <td>{{row.telephone}}</td>
                <td>{{row.Adresse}}</td>
                <td>{{row.email}}</td>
                <td>
                    <a href="/update/{{row.id}}" class="btn btn-warning btn-sm" data-toggle="modal"
                        data-target="#modaledit{{row.id}}"><i class="fas fa-edit"> Modifier</i></a>
                    <a href="/changepassword/{{row.id}}" class="btn btn-success btn-sm" data-toggle="modal"
                        data-target="#modalchangepassword{{row.id}}"><i class="fas fa-edit"> Changer password</i></a>
                    <a href="/delete/{{ row.id }}" onclick="return confirm('Are Sure Want To Deleted ?')"
                        class="btn btn-danger btn-sm "><i class="fas fa-trash"> Supprimer</i></a>
                </td>
            </tr>

            <!-- Enter New Student Modal -->
            <div id="modaledit{{row.id}}" class="modal fade" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title text-primary" style="align-content: center;">Modifier un
                                utilisateur</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form action="{{ url_for('update')}}" method="POST">
                                <input type="hidden" name="id" value="{{row.id}}">
                                <div class="form-group">
                                    <label>Prenom</label>
                                    <input value="{{row.prenom}}" type="text" name="prenom" class="form-control"
                                        id="exampleFormControlInput1" placeholder="Enter Full Name">
                                </div>
                                <div class="form-group">
                                    <label>Nom</label>
                                    <input value="{{row.nom}}" type="text" name="nom" class="form-control"
                                        id="exampleFormControlInput1" placeholder="Enter Email">
                                </div>
                                <div class="form-group">
                                    <label>Telephone</label>
                                    <input value="{{row.telephone}}" name="telephone" type="text" class="form-control"
                                        id="exampleFormControlInput1" placeholder="Enter Phone Number">
                                </div>

                                <div class="form-group">
                                    <label>Adresse</label>
                                    <input value="{{row.Adresse}}" name="Adresse" type="text" class="form-control"
                                        id="exampleFormControlInput1" placeholder="Enter Phone Number">
                                </div>

                                <div class="form-group">
                                    <label>email</label>
                                    <input value="{{row.email}}" name="email" type="text" class="form-control"
                                        id="exampleFormControlInput1" placeholder="Enter Phone Number">
                                </div>

                                <button type="submit" class="btn btn-success mb-2">Update</button>
                            </form>
                        </div>
                    </div>
                </div>

            </div>
            <!-- End of Edit Student Modal -->

            <!-- Modal change password-->
            <div id="modalchangepassword{{row.id}}" class="modal fade" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title text-primary" style="align-content: center;">Modifier le mot de passe</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            {% include "includes/__messages__.html" %}
                            <form action="{{url_for('changepassword')}}" method="POST">
                                <input type="hidden" name="id" value="{{row.id}}">
                                <div class="form-group">
                                    <label>Password</label>
                                    <input type="password" name="password" class="form-control"
                                        id="exampleFormControlInput1" placeholder="Enter Password">
                                </div>
                                <div class="form-group">
                                    <label>comfirm password</label>
                                    <input type="password" name="comfirmpassword" class="form-control"
                                        id="exampleFormControlInput1" placeholder="Enter comfirm password">
                                </div>
                                <button type="submit" class="btn btn-success mb-2">Update</button>
                            </form>
                        </div>
                    </div>
                </div>

            </div>


            <!-- Modal change password -->


            {%endfor%}
        </tbody>
        </tr>
    </table>
</div>
{%endblock %}